<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
    <targets>
      <target xsi:type="Redis" name="RedisLog" appName="${appName}" environmentKey="WorkerRole.EnvironmentName" connectionStringKey="Logging.RedisConnectionString" includeAllProperties="true" keySettingsKey="Logging.RedisKey" layout="${message}" xdt:Transform="Insert"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="__Logging.Targets__" xdt:Transform="Replace" xdt:Locator="Condition(@name='*')" />
    </rules>
  </nlog>
</configuration>