<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="2.4.1" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="FeatureToggle" version="3.5.0" targetFramework="net452" />
  <package id="FeatureToggle.Core" version="3.5.0" targetFramework="net452" />
  <package id="NEST" version="2.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SFA.DAS.Events.Api.Client" version="1.15.0.23321" targetFramework="net452" />
  <package id="SFA.DAS.Events.Api.Types" version="1.15.0.23321" targetFramework="net452" />
  <package id="StructureMap" version="4.4.2" targetFramework="net452" />
</packages>